<h1>Add photo for: <%= @album.title %></h1>

<%= form_for([@album, @photo]) do |f| %>

  <p><%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>

  <p><%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p><%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>

  <p class="button"><%= f.submit %></p>
<% end %>
